.card {
    background-color: var(--border-1);
    border-radius: 16px;
    padding: 1.5rem;
    position: relative;
    box-shadow: 0 10px 0px var(--med-accent), 0 8px 24px rgba(0, 0, 0, 0.3);
}

.card-header {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
    padding-bottom: 1rem;
    border-bottom: 4px solid var(--med-accent);
}

.recipient-list {
    display: flex;
    flex-direction: column;
}

.recipient-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.25rem;
    cursor: pointer;
    border-bottom: 4px solid var(--med-accent);
}

.recipient-item.last-item {
    border-bottom: none;
}

.switch-button, .show-button {
    border: none;
    background-color: var(--shadow-2);
    padding: 0.4rem 1rem;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 500;
}

.show-button {
    background-color: var(--med-accent);
    color:var(--border-1);
}

.recipient-buttons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.delete-recipient-button {
    border: none;
    background-color: var(--error-text);
    color: var(--border-1);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

.delete-recipient-button:hover {
    background-color: var(--med-accent);
}

.add-recipient-button {
    width: 100%;
    margin-top: 1rem;
    padding: 0.75rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    color: var(--shadow-3);
    border-radius: 8px;
}

.add-recipient-inline-form {
    display: flex;
    flex-wrap: wrap; 
    gap: 0.5rem;
    padding-top: 0.75rem;
}

.animated-line {
  width: 100%;
  height: 4px;
  background-color: var(--med-accent);
  margin-bottom: 0.5rem;
  animation: spreadFromMiddle 0.2s ease-out forwards;
}

@keyframes spreadFromMiddle {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.add-recipient-inline-form input {
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
}

.save-new-button {
    border: none;
    background-color: var(--success-text);
    color: var(--border-1);
    font-weight: bold;
    padding: 0 1rem;
    border-radius: 8px;
    cursor: pointer;
}