.draftEntryDiv {
  width: 100%;
  position: relative;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--button-colour-2);
  border: 1px solid var(--border-2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: 0.625rem;
  text-align: left;
  font-size: 1rem;
  color: var(--border-2);
  padding: 0.75rem;
  border-radius: 1.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.draftEntryDiv:hover {
  background-color: var(--button-colour-2-onhover);
}
.draftEntryDiv:active {
  background-color: var(--button-colour-2-onselect);
}

.draftTitle {
  position: relative;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: var(--border-2);
}

@media (min-width: 640px) {
  .draftTitle {
    font-size: 1.125rem; 
  }
}

@media (min-width: 768px) {
  .draftTitle {
    font-size: 1.25rem; 
  }
}

.draftText {
  align-self: stretch;
  position: relative;
  line-height: 1.5rem;
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  font-size: 0.875rem;
  color: #374151; 
}

@media (min-width: 640px) {
  .draftText {
    font-size: 1rem;
  }
}

.draftDateDiv {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}

.draftDate {
  position: relative;
  line-height: 1.5rem;
  color: var(--border-2); 
  font-size: 0.875rem;
}

@media (min-width: 640px) {
  .draftDate {
    font-size: 1rem;
  }
}

.draftDelete {
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  object-fit: cover;
  cursor: pointer;
  transition: filter 0.2s ease;
}

.draftDelete:hover {
  filter: brightness(90%);
}
