.X {
  position: relative;
  line-height: 26px;
  cursor: pointer;
  transition: color 0.2s;
}

.X:hover {
  color: #dc2626; 
}

.viewPostDetails {
  position: relative;
  line-height: 26px;
  font-size: 1.25rem; 
}

.viewPostPostedDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1.25rem;
  font-size: 1rem; 
}

.viewPostTitleParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}

.viewPostUsername,
.name {
  position: relative;
  line-height: 1rem; 
  font-weight: 600; 
  cursor: default;
}

.bookmarkIcon {
  width: 30px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: filter 0.2s;
}

.bookmarkIcon:hover {
  filter: brightness(90%);
}

.viewPostName {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  font-size: 1rem;
  color: black;
}

.tag {
  box-shadow: 5px 5px 4px rgba(0,0,0,0.25);
  background-color: var(--button-colour-2);
  border: 1px solid var(--border-2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.625rem 1.25rem; 
  border-radius: 20px;
  border-style: solid;
  cursor: pointer;
  transition: background-color 0.2s;
}


.viewPostTags {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.625rem; 
  font-size: 1.25rem; 
  color: #1e1e1e;
}

.viewPostTitleDiv {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.625rem;
}

.viewPostData {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 1.5rem; 
  color: #2b2b2b;
}

.viewPostDescription {
  width: 100%;
  height: fit-content;
  flex: 1 1 auto;
  position: relative;
}

.viewPostDescriptionDiv {
  align-self: stretch;
  background-color: var(--border-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.625rem;
  border-radius: 5px;
}

.commentsIcon,
.likesIcon {
  width: 30px;
  height: 30px;
  position: relative;
  object-fit: cover;
}

.commentsNumber,
.likesNumber {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  cursor: default;
}

.viewPostStatsDiv {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.625rem;
  text-align: center;
}

.addAComment {
  position: relative;
}

.viewPostButton {
  box-shadow: 5px 5px 4px rgba(0,0,0,0.25);
  background-color: var(--button-colour-1);
  border: 1px solid var(--border-2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0.625rem;
  border-radius: 1.5rem; 
  border-style: solid;
  cursor: pointer;
  transition: background-color 0.2s;
}

.viewPostButton:hover {
  background-color: var(--button-colour-1-onhover);
}
.viewPostButton:active {
  background-color: var(--button-colour-1-onselect);
}

.viewPostBody {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.25rem;
  text-align: left;
  font-size: 1rem; 
  transition: all 0.3s ease;
}

.viewPostDiv {
  width: 100%;
  height: fit-content;
  position: relative;
  box-shadow: 5px 5px 4px rgba(0,0,0,0.25);
  background-color: var(--border-1);
  border: 1px solid var(--border-2);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.625rem;
  text-align: center;
  font-size: 1.25rem;
  color: var(--border-2);
  padding: 1.25rem;
  border-radius: 5px;
  border-style: solid;
  transition: box-shadow 0.3s;
}

.viewPostDiv:hover {
  box-shadow: 0 10px 15px rgba(0,0,0,0.2);
}

.viewPostUsername,
.viewDatePosted,
.name,
.tag,
.commentsNumber,
.likesNumber {
  font-size: 1rem; 
  font-size: 0.875rem; 
  font-size: 1rem; 
}

.viewPostImagesDiv {
  width: 100%;
  overflow-x: auto;
}

.viewPostImages {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}

.viewPostImage {
  width: 33.3333%;
  height: auto;
  object-fit: cover;
  border-radius: 0.25rem; 
  flex-shrink: 0;
}
