.dashboard-div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-grid {
  display: flex;
  flex-direction: column;
  gap: 2.5rem; 
  max-width: 1280px; 
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0.625rem; 
}

@media (min-width: 768px) {
  .dashboard-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2.5rem; 
  }
}

.dashboardItem {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
