@import "tailwindcss";

@layer components {
  .icons {
    @apply self-stretch flex max-w-full flex-row items-start justify-center gap-5;
  }

  .dashboard {
    @apply relative leading-6 text-sm sm:text-base md:text-lg;
  }

  .applicationIcon {
    @apply w-10 relative h-10 object-cover
      transition-transform duration-200 ease-in-out;
  }

  .navigateTo {
    @apply w-fit flex flex-col items-center justify-center gap-[5px] cursor-pointer
      transition-transform duration-150 ease-in-out
      active:scale-[0.9]
      hover:scale-[1.1]
      hover:brightness-110;
  }
}
