@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;
}

@theme {
  --color-custom-pink: oklch(0.8604 0.0509 25.75);
  --color-custom-purple: oklch(0.8071 0.0515 305.92);
  --color-custom-purple-header: oklch(0.7091 0.0667 305.42);
  --color-custom-white: oklch(0.9945 0.0057 84.57);
}

p, div, span, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  word-wrap: break-word; /* For older browser compatibility */
}