@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "tailwindcss";

:root {
  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 18px;
  --background-colour: #f1eee6; /* peach */
  --text-colour: #2d2d2d; /* black */
  --button-colour-1-onselect: #dfa36a; /* NEW ORANGE*/
  --button-colour-1-onhover: #eac099; /*NEW LIGHT ORANGE */
  --button-colour-1: #f1d5bb; /*PALE ORANGE */
  --button-colour-2: #cedce0; /* NEW LIGHT BLUE */
  --button-colour-2-onhover: #b4c9cf; /* NEW LIGHT BLUE */
  --button-colour-2-onselect: #8fa1a8; /* NEW NAVY BLUE */
  --header-colour: #cedce0; /* LIGHT BLUE NEW */
  --accent-colour-1: #fffdf9; /* NEW LIGHT ORANGE FOR SEARCH*/
  --accent-colour-2: #f1eee6; /* dark orange NEW */
  --shadow-1: #e5e7eb; /* blueish grey used for login */
  --shadow-2: #f9fafb; /* light grey */
  --shadow-3: #6b7280; /* dark grey */
  --border-1: #fffdf9; /* white */
  --border-2: #2d2d2d; /* black */
  --placeholder-colour: #9ca3af; /* grey */
  --success-text: #10b981; /* green */
  --error-text: #ba1111; /* red */
  --med-accent: #f87575; /* salmon pink */
  --chatbot-accent: #f19c67; /* orange */
  --forum-accent: #94c2bf; /* blue */
  --profile-accent: #abd9a9; /* green */
  --password-toggle: #555; /* dark grey */
  --area-code: #6b7280; /* lightish grey */
  --phone-input: #1f2937; /* phone input colour */
}

@media (max-width: 600px) {
  :root {
    --font-size-small: 12px;
    --font-size-medium: 13px;
    --font-size-large: 14px;
  }
}

html {
  font-size: var(--user-font-size);
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
}

p,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
