.newPostDiv {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem; 
  padding-top: 1.5rem; 
  padding-left: 1rem; 
  padding-right: 1rem;
}

@media (min-width: 768px) {
  .newPostDiv {
    gap: 3rem; 
    padding-top: 2.5rem; 
    padding-left: 2.5rem; 
    padding-right: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .newPostDiv {
    flex-direction: row; 
  }
}

.newPostBody {
  width: fit-content;
}
